<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="TestHarnessKafkaBrokerList" value="http://kafka-qa3-01.t3qa.dom:9092, http://kafka-qa3-02.t3qa.dom:9092, http://kafka-qa3-03.t3qa.dom:9092"/>
    </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>