<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="TestHarnessKafkaBrokerList" value="http://CSDKAFKA01:9092, http://CSDKAFKA02:9092"/>
    </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>